@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  transition: all 0.2s ease-in-out;
}

.app-container {
  background: linear-gradient(0deg, rgb(17, 24, 39) 0%, rgb(32, 27, 92) 100%);
}

/* action btns tooltips */
.tooltip {
  visibility: hidden;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05) transparent transparent transparent;
}

.action-btn:hover .tooltip {
  visibility: visible;
}
